# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
*.pid
*.pid.lock

# Coverage
coverage/

# Build output
dist/
build/

# Cache
.cache/
.eslintcache

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/